# Whitelist Mode
/*

# IDEA
!.idea

# Git Files
!.gitignore

# GitHub Files
!CHANGELOG.md
!README.md
!LICENSE

# Java Files
!src/

# Gradle Files
!gradle/
!gradlew
!gradlew.bat
!build.gradle.kts
!settings.gradle.kts
!gradle.properties

!.github