# Whitelist Mode
/*

# Git Files
!.gitignore

# GitHub Files
!CHANGELOG.md
!README.md
!LICENSE

# Java Files
!src/
!resources/
!api/

# Gradle Files
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!settings.gradle
!gradle.properties

# Circle CI
!.circleci/

